@using EntityLayer.Concrete
@model Testimonial
@{
    ViewData["Title"] = "TestimonialDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h1>Referans Detayları</h1>
<div class="container">
    <form class="form-group">

        <br />
        <label>Ad Soyad</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})
        <br />

        <label>Şirket</label>
        @Html.TextBoxFor(x => x.Company, new { @class = "form-control"})
        <br />

        <label>Ünvan</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control"})
        <br />

        <label>Yorum</label>
        @Html.TextBoxFor(x => x.Comment, new { @class = "form-control"})
        <br />

        <label>Resim</label>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control"})
        <br />
        <a class="btn btn-primary" href="/Testimonial/Index/">Geri Dön</a>
    </form>
</div>

