@using EntityLayer.Concrete
@model Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<form class="form-group" method="post">

    <div class="container my-4">

        @Html.HiddenFor(x=>x.ContactID)
        <label>Başlık</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />

        <label>Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        <br />

        <label>Mail</label>
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        <br />

        <label>Telefon</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        <br />

        <button type="submit" class="btn btn-success">Güncelle</button>
        <a href="/ContactSideBar/Index/" class="btn btn-primary">İptal</a>
    </div>
</form>


